<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.cms.dao.extend.CategoryExtendMapper">
  <resultMap id="selectAllCategoryExtend"
             type="com.briup.apps.cms.bean.extend.CategoryExtend"
             extends="com.briup.apps.cms.dao.CategoryMapper.BaseResultMap">
  <association property="category"
               column="parent_id"
               javaType="com.briup.apps.cms.bean.Category"
               select="selectByParentId">
  </association>
</resultMap>
  <select id="selectByParentId"
          parameterType="long"
          resultType="com.briup.apps.cms.bean.Category">
    SELECT *
    FROM cms_category
    WHERE id=#{parent_id}
  </select>
  <select id="cacadeFindAll" resultMap="selectAllCategoryExtend">
    SELECT *
    FROM cms_category
  </select>
</mapper>