<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.cms.dao.extend.CommentExtendMapper">
  <select id="selectByArticleId" parameterType="long" resultType="com.briup.apps.cms.bean.Comment">
      SELECT *
      FROM cms_comment
      WHERE article_id = #{article_id,jdbcType=BIGINT}
  </select>
    <select id="findAll"
            resultMap="commentExtendResultMap">
        SELECT *
        FROM cms_comment
    </select>
    <resultMap id="commentExtendResultMap"
               type="com.briup.apps.cms.bean.extend.CommentExtend"
               extends="com.briup.apps.cms.dao.CommentMapper.BaseResultMap">
        <association property="uesr"
                     javaType="com.briup.apps.cms.bean.User"
                     column="user_id"
                     select="com.briup.apps.cms.dao.UserMapper.selectByPrimaryKey">
        </association>
        <association property="articleExtend"
                     javaType="com.briup.apps.cms.bean.extend.ArticleExtend"
                     column="article_id"
                     select="com.briup.apps.cms.dao.extend.ArticleExtendMapper.selectById">
        </association>
    </resultMap>
</mapper>
